@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-4 py-2 rounded-lg font-bold transition;
}
.btn-primary {
  @apply bg-gradient-to-r from-stone-900 to-stone-800 text-white hover:shadow-lg;
}
.btn-yellow {
  @apply bg-amber-700 text-white hover:bg-amber-800;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
